body{
	background-image:url(back.img);

}
a {

  color: green;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #C0C0C0; /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border-radius: 5px;
  margin: 0 0 10px;
  padding: 0 5px;
  font-size: 20px;
  
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.color{
  color:white;
  background-color: black;
  background-size:
}